body {
  height: 100%;
  width: 100%;

  background-image: url("../img/tetris-background.png");
  background-size: 50vw 100vh;
}

.tetris-container {
  position: absolute;
  left: 20%;

  height: 100%;
  width: 60%;

  border: 2px dashed #1a1;
}

.title {
  position: absolute;
  
  width: 53%;

  font-family: verdana;
  font-size: 40px;
  font-weight: bold;
  color: #7b7;
  text-shadow: 3px 3px 0px #fff;
  text-align: center;
}

.canvas-container {
  position: relative;
  top: 5%;
  left: 2%;

  height: 90%;
  width: 50%;

  border: 1px solid green;
}

.white-screen {
  position: absolute;

  height: 100%;
  width: 100%;

  background-color: #fff;
  opacity: 0.4;
}

.tetris-frame {
  height: 100%;
  width: 100%;
}

.preview-container {
  position: absolute;
  top: 5%;
  left: 52%;

  height: 12%;
  width: 12%;

  border: 1px solid green;
}

.preview-title {
  position: absolute;
  height: 20%;
  width: 100%;

  border-bottom: 1px solid #60f;
  background-color: #0f0;

  text-align: center;
  font-weight: bold;
  color: #077;
}

.preview-screen {
  top: 20%;

  height: 80%;

  background-color: #cff;
}

.preview-frame {
  position: absolute;
  top: 20%;
  
  height: 80%;
  width: 100%;
}

.button-container {
  position: relative;

  float: right;
}

button:hover { transform: scale(1.1); }

.peripheral-container {
  position: absolute;
  top: 5%;
  right: 0%;
  
  min-width: 20%;

  border: 1px solid #eecd98;
}

.scoreboard {
  position: relative;

  border: 1px solid red;
  border-radius: 5%;
  background-color: #fdd;
}

.score-components {
  position: relative;
}

p.score-components {
  color: #844;
  font-weight: bold;
  font-size: 20px;
}

#score-label {
  float: left;
}

.level-container {
  position: relative;

  border: 1px solid green;
  border-radius: 5%;
  background-color: #dfd;
}

.level-components {
  position: relative;
}

p.level-components {
  color: #373;
  font-weight: bold;
  font-size: 18px;
}

.level-button-container {
  position: absolute;
  top: 15%;
  right: 0;
}

.level-button {
  opacity: 0.3;
}

.level-button:hover { transform: scale(1.5); }

#level-label {
  float: left;
}

.info-container {
  position: absolute;
  top: 30%;
  right: 5%;

  min-width: 35%;

  border: 2px dashed blue;
  border-radius: 5%;
  background-color: #ddf;
}

.info-header {
  position: relative;
  left: 25%;

  color: #33a;
}

.info-body {
  position: relative;

  color: #66c;
  font-size: 18px;
}

.info-col-1 {
  float: left;
}

.info-col-2 {
  float: right;
}